<div class="footer">
    <div class="container">
        <div class="social">
            <ul class="nav justify-content-center"">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/donkisdonk"><img src="/assets/images/facebook.png"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/donkzA"><img src="/assets/images/github.png"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/marluo-anuengo-56441045/"><img src="/assets/images/linkedin.png"></a>
                </li>
            </ul>
        </div>
        <div class="copyright text-center">
            <p>Copyright 2019</p>
        </div>
    </div>
</div>