<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="hello-con text-center"><span class="hello-title">Hello</span><br/><span class="hello-first">I'm <strong>Marluo</strong></span></h1>
        <div class="hello-last">Anuengo</div>
        <p class="lead text-center">Front-End Developer - Technical Support - Website Administrator - Outdoor Enthusiast</p>
        <div id="about-button">
            <button class="btn-jumbo btn btn-dark"><a href="about.html">About</a></button> 
        </div>
        <div id="project-button">
            <button class="btn-jumbo btn btn-dark"><a href="projects.html">Projects</a></button>
        </div>
    </div>
</div>