<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="hello-con text-center"><span class="hello-title">Hello</span><br/><span class="hello-first">I'm <strong>Marluo</strong></span></h1>
        <div class="hello-last">Anuengo</div>
        <p class="lead text-center">Front-End Developer - Technical Support - Website Administrator - Outdoor Enthusiast</p>
        <div id="about-button">
            <a href="about.html"><button class="btn-jumbo btn btn-dark">About</button></a> 
        </div>
        <div id="project-button">
            <a href="projects.html"><button class="btn-jumbo btn btn-dark">Projects</button></a>
        </div>
    </div>
</div>